.row
  .small-12.columns
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!

      div
        = f.label :email
        br
        = f.email_field :email, autofocus: true

      div
        = f.label :password
        i = "(leave blank if you don't want to change it)"
        br
        = f.password_field :password, autocomplete: "off"

      div
        = f.label :password_confirmation
        br
        = f.password_field :password_confirmation, autocomplete: "off"

      div
        = f.label :current_password
        i = "(we need your current password to confirm your changes)"
        = f.password_field :current_password, autocomplete: "off"

      div
        = f.submit "Update"
