- if controller_name != 'sessions'
  = link_to t("devise.sign_in"), new_session_path(resource_name)
  br

- if devise_mapping.registerable? && controller_name != 'registrations'
  = link_to t("devise.sign_up"), new_registration_path(resource_name)
  br
