.row
  .small-12.columns
    - client_id = params[:client_id] || @task.client_id
    - client_id = nil if client_id == 'new'
    - unless client_id
      h3 Добавьте клиента
      - if @task.new_record?
        = render 'clients/form', client: Client.new, source: :new_task
      - else
        = render 'clients/form', client: Client.new, source: :task, task_id: @task.id
      h3 или выберите существующего
      .small-12.columns.search-row
        = form_tag(clients_path, method: :get, remote: true, format: :json) do
          .row.collapse
            - unless @task.new_record?
              input type='hidden' name='task_id' value=@task.id
            .small-4.columns
              = link_to 'Все', :clients, class: 'button prefix'
            .small-6.columns
              = text_field_tag :q, params[:q], placeholder: 'Поиск'
            .small-2.columns
              input type='submit' class="button postfix" value='Поиск'
      table#clients_list

    - else
      - statuses_to_set = []
      - if current_user.admin?
        - statuses_to_set = ['new', 'working', 'finished', 'ready', 'rejected', 'canceled', 'closed'] - @task.status.to_s
      - if current_user.translator?
        - statuses_to_set << 'working' if ['assigned', 'rejected'].include? @task.status.to_s
        - statuses_to_set << 'finished' if ['working'].include? @task.status.to_s
      - if current_user.profreader? && @task.status.to_s == 'finished'
        - statuses_to_set += ['ready', 'rejected']
      - if current_user.client_manager?
        - statuses_to_set << 'canceled' unless ['closed', 'canceled'].include? @task.status.to_s
        - statuses_to_set += ['closed', 'rejected'] if @task.status.to_s == 'ready'
      - if !@task.new_record? && statuses_to_set.any?
        h3 Установить статус
        .row
          - statuses_to_set.each do |status|
            .small-2.columns
              = form_for(@task, html: {'data-abide'=> true}) do |f|
                = f.hidden_field :status, value: status
                = f.submit t('status.' + status), class: 'button expand'
      - if [:new, :assigned, :rejected].include?(@task.status.to_sym) && (current_user.admin? || current_user.project_manager?)
        h3 Назначить исполнителя
        .row
          .small-12.columns
            .search-row
              = form_tag(edit_task_path(@task), method: :get) do
                .row.collapse
                  .small-10.columns
                    = text_field_tag :q, params[:q], placeholder: 'Поиск'
                  .small-2.columns
                    input type='submit' class="button postfix" value=t('search')
        .row
          .small-12.columns
            - if @workers.count > 0
              table
                tbody
                  thead
                    tr
                      th Имя
                      th = t '.price'
                      th Языки
                      th Текущие заказы
                tbody
                  - @workers.each do |worker|
                    tr class=('current' if @task.worker_id == worker.id)
                      - if @task.worker_id == worker.id
                        td
                          = worker.name
                          | &nbsp;
                          = link_to set_worker_task_path(@task, worker_id: nil), method: :post
                            i.fi-x
                      - else
                        td = link_to worker.name, set_worker_task_path(@task, worker_id: worker.id), method: :post
                      td = "#{number_to_currency worker.price} / час"
                      td = worker.skills.map {|skill| skill.language.name }.join(', ')
                      td == worker.tasks.where(status: [:assigned, :working, :finished, :rejected]).map {|x| link_to x.id, edit_task_path(x) }.join(', ')
            - else
              p Нет подходящих работников


      - disabled = current_user.client_manager? ? '' : ' disabled '
      = form_for(@task, html: {'data-abide'=> true}) do |f|
        .row
          .small-12.columns
            h5
              | Клиент:&nbsp;
              = Client.find(client_id).name
              - if current_user.client_manager?
                | &nbsp;(
                = link_to 'изменить', params.merge(client_id: :new)
                | )&nbsp;
        = f.hidden_field :client_id, value: client_id
        - languages_array = Language.all.map { |language| [language.name, language.id] }

        .row
          .small-6.columns
            .field
              = f.label :from_lang do
                = t '.from_lang'
                = f.select :from_lang_id, languages_array, {}, disabled: !(current_user.client_manager? || current_user.admin?)
              small.error = t '.translation_languages_should_be_different'
          .small-6.columns
            .field
              = f.label :to_lang do
                = t '.to_lang'
                = f.select :to_lang_id, languages_array, {}, 'data-abide-validator' => :differentTo, 'data-different-to' => :task_from_lang_id, disabled: !(current_user.client_manager? || current_user.admin?)
              small.error = t '.translation_languages_should_be_different'
        .row
          .small-3.columns
            .field
              = f.label :deadline do
                = t '.deadline'
                = f.text_field :deadline, disabled: !(current_user.client_manager? || current_user.admin?), value: l(@task.deadline || Date.today + 5.days), class: 'datepicker'
              small.error = t '.not_valid_date'
          .small-3.columns
            - if current_user.client_manager? || current_user.admin? || current_user.profreader? || current_user.project_manager?
              .field
                = f.label :price do
                  = t '.price'
                  .row.collapse
                    .small-2.columns
                      span.prefix = t 'number.currency.format.unit'
                    .small-10.columns
                      = f.text_field :price, required: true, pattern: 'currency', disabled: !(current_user.client_manager? || current_user.admin?)
                  small.error = t '.not_valid_currency'
          div class="columns small-#{(current_user.client_manager? || current_user.admin? || current_user.profreader? || current_user.project_manager?) ? 3 : 6}"
            .field
              = f.label :quality do
                = t '.quality'
                = f.number_field :quality, required: true, pattern: 'mark10', disabled: !(current_user.client_manager? || current_user.admin?)
              small.error = t '.not_valid_quality'
          .small-3.columns
            .field
              = f.label :size do
                = t '.size'
                = f.number_field :size, required: true, pattern: 'integer', disabled: !(current_user.client_manager? || current_user.admin?)
              small.error = t '.not_valid_size'
        .row
          .small-12.columns
            .field
              = f.label :description do
                = t '.description'
                = f.text_area :description, rows: 5, disabled: !(current_user.client_manager? || current_user.admin?)
              small.error = t '.not_valid_date'

        - if current_user.admin? || current_user.client_manager?
          .row
            .small-9.columns
              .actions
                = f.submit t('.save'), class: 'button expand'
            .small-3.columns
              = link_to t('cancel'), :back, class: 'button expand'
      - unless @task.new_record?
        h3 Комментарии
        - @task.comments.each do |comment|
          .row
            - if comment.source == 'translator'
              .small-10.columns
                p.buble-translator
                  span.title = "#{comment.worker.name}:"
                  span.text = comment.text
            - if comment.source == 'client_manager'
              .small-10.columns.right
                p.buble-client-manager
                  span.title = "Менеджер по работе с клиентами:"
                  span.text = comment.text
            - if comment.source == 'profreader'
              .small-10.columns.right
                p.buble-profreader
                  span.title = "Профридер:"
                  span.text = comment.text

        - if current_user.translator?
          = form_for Comment.new do |f|
            = f.hidden_field :source, value: :translator
            = f.hidden_field :worker_id, value: current_user.worker.id
            = f.hidden_field :task_id, value: @task.id

            .search-row
              .row.collapse
                .small-10.columns
                  = f.text_field :text, required: true, class: 'prefix text-left', placeholder: 'Добавьте ваш комментарий'
                .small-2.columns
                  = f.submit 'Добавить', class: 'button postfix'

        - elsif current_user.profreader?
          = form_for Comment.new do |f|
            = f.hidden_field :source, value: :profreader
            = f.hidden_field :task_id, value: @task.id

            .search-row
              .row.collapse
                .small-10.columns
                  = f.text_field :text, required: true, class: 'prefix text-left', placeholder: 'Добавьте ваш комментарий'
                .small-2.columns
                  = f.submit 'Добавить', class: 'button postfix'

        - elsif current_user.client_manager?
          = form_for Comment.new do |f|
            = f.hidden_field :source, value: :client_manager
            = f.hidden_field :task_id, value: @task.id

            .search-row
              .row.collapse
                .small-10.columns
                  = f.text_field :text, required: true, class: 'prefix text-left', placeholder: 'Добавьте ваш комментарий'
                .small-2.columns
                  = f.submit 'Добавить', class: 'button postfix'

        h3 Файлы
        .row
          .small-6.columns#source
            label Исходные файлы
            .row
              - @task.documents.source.each do |document|
                .small-11.columns
                  .document-block
                    = image_tag document.format + '.png', width: 50
                    span
                      = link_to document.document.url, class: 'title' do
                        = document.name
                .small-1.columns
                  - if current_user.admin? || current_user.client_manager?
                    .document-action-button
                      = link_to document_path(document), method: :delete do
                        i.fi-x
            .row
              - if current_user.admin? || current_user.client_manager?
                .small-6.columns
                  = link_to 'Скачать архивом', documents_task_path(id: @task.id, kind: 'source'), class: 'button expand'
                .small-6.columns
                  = form_for Document.new do |f|
                    = f.hidden_field :task_id, value: @task.id
                    = f.hidden_field :kind, value: :source
                    label
                      = f.file_field :document , class: 'file_submiter hide'
                      span.button.expand Добавить
              - else
                .small-12.columns
                  = link_to 'Скачать архивом', documents_task_path(id: @task.id, kind: 'source'), class: 'button expand'

          .small-6.columns#result
            label Результаты
            .row
              - @task.documents.result.each do |document|
                .small-11.columns
                  .document-block
                    = image_tag document.format + '.png', width: 50
                    span
                      = link_to document.document.url, class: 'title' do
                        = document.name
                .small-1.columns
                  - if current_user.admin? || current_user.translator?
                    .document-action-button
                      = link_to document_path(document), method: :delete do
                        i.fi-x
            .row
              - if current_user.admin? || current_user.translator?
                .small-6.columns
                  = link_to 'Скачать архивом', documents_task_path(id: @task.id, kind: 'result'), class: 'button expand'
                .small-6.columns
                  = form_for Document.new do |f|
                    = f.hidden_field :task_id, value: @task.id
                    = f.hidden_field :kind, value: :result
                    label
                      = f.file_field :document , class: 'file_submiter hide'
                      span.button.expand Добавить
              - else
                .small-12.columns
                  = link_to 'Скачать архивом', documents_task_path(id: @task.id, kind: 'result'), class: 'button expand'


  coffee:
    do setupTasksForm
