.row
  .small-5.columns
    h1 = t '.list_all_tasks'
- if current_user.client_manager? || current_user.profreader? || current_user.admin? || current_user.project_manager?
  .row
    .small-12.columns
      .search-row
        = form_tag(tasks_path, method: :get) do
          .row.collapse style='margin-bottom: 0px'
            .small-1.columns
              = link_to t('.all_tasks'), params.except(:filter, :q), class: "button prefix#{' active' unless params[:filter] || params[:q]}"
            .small-2.columns
              - if params[:filter] && params[:filter][:new]
                = link_to 'Новые', params.except(:filter, :q).merge(filter: params[:filter].except(:new)), class: "button prefix active"
              - else
                = link_to 'Новые', params.except(:q).merge('filter[new]' => true), class: "button prefix"
            .small-2.columns
              - if params[:filter] && params[:filter][:assigned]
                = link_to 'Распределенные', params.except(:filter, :q).merge(filter: params[:filter].except(:assigned)), class: "button prefix active"
              - else
                = link_to 'Распределенные', params.except(:q).merge('filter[assigned]' => true), class: "button prefix"
            .small-2.columns
              - if params[:filter] && params[:filter][:working]
                = link_to 'В работе', params.except(:filter, :q).merge(filter: params[:filter].except(:working)), class: "button prefix active"
              - else
                = link_to 'В работе', params.except(:q).merge('filter[working]' => true), class: "button prefix"
            .small-3.columns
              - if params[:filter] && params[:filter][:finished]
                = link_to 'Завершенные', params.except(:filter, :q).merge(filter: params[:filter].except(:finished)), class: "button prefix active"
              - else
                = link_to 'Завершенные', params.except(:q).merge('filter[finished]' => true), class: "button prefix"
            .small-2.columns
              - if params[:filter] && params[:filter][:rejected]
                = link_to 'Отклоненные', params.except(:filter, :q).merge(filter: params[:filter].except(:rejected)), class: "button prefix active"
              - else
                = link_to 'Отклоненные', params.except(:q).merge('filter[rejected]' => true), class: "button prefix"
          .row.collapse
            .small-2.columns
              - if params[:filter] && params[:filter][:ready]
                = link_to 'Готовые', params.except(:filter, :q).merge(filter: params[:filter].except(:ready)), class: "button prefix active"
              - else
                = link_to 'Готовые', params.except(:q).merge('filter[ready]' => true), class: "button prefix"
            .small-2.columns
              - if params[:filter] && params[:filter][:canceled]
                = link_to 'Отмененные', params.except(:filter, :q).merge(filter: params[:filter].except(:canceled)), class: "button prefix active"
              - else
                = link_to 'Отмененные', params.except(:q).merge('filter[canceled]' => true), class: "button prefix"
            .small-2.columns
              - if params[:filter] && params[:filter][:closed]
                = link_to 'Закрытые', params.except(:filter, :q).merge(filter: params[:filter].except(:closed)), class: "button prefix active"
              - else
                = link_to 'Закрытые', params.except(:q).merge('filter[closed]' => true), class: "button prefix"
            .small-5.columns
              = text_field_tag :q, params[:q], placeholder: 'Поиск'
            .small-1.columns
              input type='submit' class="button postfix" value=t('search')

.row
  .small-12.columns
    - if (@special_tasks + @tasks).count > 0
      table
        tbody
          thead
            tr
              th = t '.id'
              th = t '.description'
              th = t '.from_lang'
              th = t '.to_lang'
              th = t '.deadline'
              - if current_user.client_manager? || current_user.admin? || current_user.profreader? || current_user.project_manager?
                th = t '.price'
              th = t '.quality'
              th = t '.size'
              th Исполнитель
              th = t '.status'
              th (colspan=2 if current_user.admin?)
        tbody
          - (@special_tasks + @tasks).each do |task|
            tr class=('current' if @special_tasks.include? task)
              td = task.id
              td = task.description
              td = task.from_lang.name
              td = task.to_lang.name
              td = l task.deadline
              - if current_user.client_manager? || current_user.admin? || current_user.profreader? || current_user.project_manager?
                td = number_to_currency task.price
              td = task.quality
              td = task.size
              td = task.worker.try(:name)
              td
                = t('status.' + task.status)
              td
                = link_to edit_task_path(task) do
                  i.fi-pencil
              - if current_user.admin?
                td
                  = link_to task, data: {:confirm => t('are_you_sure')}, :method => :delete do
                    i.fi-x
    - else
      - if params[:filter]
        p По вашему запросу ничего не найдено
      - elsif current_user.client_manager? || current_user.profreader? || current_user.admin? || current_user.project_manager?
        p = t '.add_new_tasks'
      - else
        p На данный момент вам не назначено ни одного заказа. Ожидайте уведомления по email.

- if current_user.admin? || current_user.client_manager?
  .row
    .small-12.columns
      = link_to t('.new'), new_task_path, class: 'button expand'
