p#notice = notice

p
  strong To lang:
  = @task.to_lang
p
  strong From lang:
  = @task.from_lang
p
  strong Deadline:
  = @task.deadline
p
  strong Price:
  = @task.price
p
  strong Quality:
  = @task.quality
p
  strong Size:
  = @task.size
p
  strong Finished:
  = @task.finished

= link_to 'Edit', edit_task_path(@task)
'|
= link_to 'Back', tasks_path
