.row
  .small-12.columns
    h1 = t '.list_all_languages'

- if @error
  .row
    .small-12.columns
      .alert-box.alert data-alert=true
        span = t '.destroy_error'
        a.close &times;

.row
  .small-12.columns
    table
      tbody
        - @languages.each do |language|
          tr
            td.language_container id="language_#{language.id}" = language.name
            td.form_for_language_container.hide id="form_for_language_#{language.id}"
              = render 'form', language: language
            - if current_user.admin? || current_user.project_manager?
              td = link_to t('destroy'), language, data: {:confirm => t('are_you_sure')}, :method => :delete
        - if current_user.admin? || current_user.project_manager?
          tr
            td = render 'form', language: @language
            td
- if current_user.admin? || current_user.project_manager?
  coffee:
    do setupLanguageForms
