= form_for @skill do |f|
  - if @skill.errors.any?
    #error_explanation
      h2 = "#{pluralize(@skill.errors.count, "error")} prohibited this skill from being saved:"
      ul
        - @skill.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :quality
    = f.number_field :quality
  .field
    = f.label :speed
    = f.number_field :speed
  .field
    = f.label :language
    = f.text_field :language
  .field
    = f.label :worker
    = f.text_field :worker
  .actions = f.submit 'Save'
