h1 Listing skills

table
  thead
    tr
      th Quality
      th Speed
      th Language
      th Worker
      th
      th
      th

  tbody
    - @skills.each do |skill|
      tr
        td = skill.quality
        td = skill.speed
        td = skill.language
        td = skill.worker
        td = link_to 'Show', skill
        td = link_to 'Edit', edit_skill_path(skill)
        td = link_to 'Destroy', skill, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Skill', new_skill_path
