p#notice = notice

p
  strong Quality:
  = @skill.quality
p
  strong Speed:
  = @skill.speed
p
  strong Language:
  = @skill.language
p
  strong Worker:
  = @skill.worker

= link_to 'Edit', edit_skill_path(@skill)
'|
= link_to 'Back', skills_path
