
.row
  .small-12.columns
    = form_for client, html: {'data-abide'=> true} do |f|
      input type='hidden' value=source name='source'
      - if source == :task
        input type='hidden' value=task_id name='task_id'
      - if client.errors.any?
        #error_explanation
          h2 = "#{pluralize(client.errors.count, "error")} prohibited this client from being saved:"
          ul
            - client.errors.full_messages.each do |message|
              li = message
      .row
        .small-12.columns
          .field
            = f.label :name do
              = t '.name'
              = f.text_field :name, required: true
            small.error Введите имя
      .row
        .small-6.columns
          .field
            = f.label :email do
              = t '.email'
              = f.text_field :email, required: true, pattern: :email
            small.error Неверный email
        .small-6.columns
          .field
            = f.label :phone do
              = t '.phone'
              = f.text_field :phone, required: true
            small.error Неверный телефон
      .row
        .small-9.columns
          .actions
            = f.submit t('.save'), class: 'button expand'
        .small-3.columns
          = link_to t('cancel'), :back, class: 'button expand'
