$('#clients_list').html('<thead></thead><tbody></tbody>')

<% if @clients.any? %>
  $('#clients_list thead').html('<tr><th>Имя</th><th>Email</th><th>Телефон</th></tr>')
<% else %>
  $('#clients_list thead').html('')
<% end %>

<% text = '' %>
<% @clients.each do |client| %>
  <% if params[:task_id] %>
    <% text = "#{text}<tr><td>#{link_to client.name, edit_task_path(client_id: client.id, id: params[:task_id])}</td><td>#{client.email}</td><td>#{client.phone}</td><tr>" %>
  <% else %>
    <% text = "#{text}<tr><td>#{link_to client.name, new_task_path(client_id: client.id)}</td><td>#{client.email}</td><td>#{client.phone}</td><tr>" %>
  <% end %>
<% end %>

$('#clients_list tbody').html('<%== text %>')
