.row
  .small-5.columns

    h1 Список клиентов

  .small-7.columns.search-row
    = form_tag(clients_path, method: :get) do
      .row.collapse
        .small-4.columns
          = link_to 'Все', :clients, class: 'button prefix'
        .small-6.columns
          = text_field_tag :q, params[:q], placeholder: 'Поиск'
        .small-2.columns
          input type='submit' class="button postfix" value='Поиск'



.row
  .small-12.columns
    table
      thead
        tr
          th = t '.name'
          th = t '.email'
          th = t '.phone'
          th Всего заказов
          th Активных заказов
          th colspan=3

      tbody
        - @clients.each do |client|
          tr
            td = client.name
            td = client.email
            td = client.phone
            td = link_to tasks_path(client_id: client.id) do
              = client.tasks.count
            td
              = client.tasks.active.count
              | &nbsp;
              = link_to new_task_path(client_id: client.id) do
                i.fi-plus


            td = link_to edit_client_path(client) do
              i.fi-pencil

            td = link_to client, data: {:confirm => 'Are you sure?'}, :method => :delete do
              i.fi-x

    br

    = link_to t('.new_client'), new_client_path, class: 'button expand'
