p#notice = notice

p
  strong Name:
  = @client.name
p
  strong Email:
  = @client.email
p
  strong Phone:
  = @client.phone

= link_to 'Edit', edit_client_path(@client)
'|
= link_to 'Back', clients_path
