.row
  .small-12.columns
    h1 = t '.welcome'
.row
  .small-4.columns
    = link_to t('.edit_langs'), languages_path, class: 'button expand'
  .small-2.columns
    = link_to t('.edit_workers'), workers_path, class: 'button expand'
  .small-2.columns
    = link_to t('.edit_tasks'), tasks_path, class: 'button expand'
  .small-4.columns
    = link_to t('.edit_access'), access_rights_path, class: 'button expand'

