.row
  .small-12.columns
    h1 Admin-панель kayquote
.row
  .small-3.columns
    = link_to 'Заказы', tasks_path, class: 'button expand'
  .small-3.columns
    = link_to 'Клиенты', clients_path, class: 'button expand'
  .small-6.columns
    = link_to 'Добавить заказ', new_task_path, class: 'button expand'
