.row
  .small-12.columns
    h1 = t '.welcome'
.row
  .small-6.columns
    = link_to t('.edit_workers'), workers_path, class: 'button expand'
  .small-6.columns
    = link_to t('.edit_tasks'), tasks_path, class: 'button expand'
