- if params[:edit] || !current_user.worker
  .row
    .small-12.columns
      = form_for(current_user.worker || Worker.new(user_id: current_user.id), html: {'data-abide'=> true})do |f|
        .field
          = f.label :name do
            | Имя
            .search-row
              .row.collapse
                .small-10.columns
                    = f.text_field :name, required: true
                    small.error Укажите имя
                .small-2.columns
                  .field
                    = f.submit 'Изменить', class: 'button expand postfix'
- else
  .row
    .small-12.columns
      h3
        | Добрый день,
        = current_user.worker.name
        | (
        = link_to 'изменить', params.merge(edit: true)
        | )
  .row
    .small-12.columns
      = link_to 'Заказы', :tasks, class: 'button expand'
