.row
  .small-12.columns
    = render 'admin_panel' if current_user.admin?
    = render 'project_manager_panel' if current_user.project_manager?
    = render 'profreader_panel' if current_user.profreader?
    = render 'client_manager_panel' if current_user.client_manager?
    = render 'translator_panel' if current_user.translator?
    - if current_user.not_granted?
      .panel = t('.have_no_rights')
