- permission = "-#{role}" if user.send role
- permission = "+#{role}" unless user.send role
= link_to_unless_with_block user == current_user, access_right_path(id: user.id, permission: permission), method: :put do
  - if user.send role
    i.fi-plus
  - else
    i.fi-minus

