.row
  .small-12.columns
    h1 = t 'access_rights.title'

    table
      tbody
        thead
          tr
            th = t '.email'
            th Переводчик
            th = t '.client_manager'
            th = t '.profreader'
            th = t '.project_manager'
            th = t '.admin'
            th
      tbody
        - @users.each do |user|
          tr
            td = user.email

            td = render 'access_item', user: user, role: :translator
            td = render 'access_item', user: user, role: :client_manager
            td = render 'access_item', user: user, role: :profreader
            td = render 'access_item', user: user, role: :project_manager
            td = render 'access_item', user: user, role: :admin
            td = link_to_unless_with_block user == current_user, access_right_path(user.id), data: {:confirm => t('are_you_sure')}, :method => :delete do
              i.fi-x
