/ Link to the "Previous" page
  - available local variables
    url          : url to the previous page
    current_page : a page object for the currently displayed page
    total_pages  : total number of pages
    per_page     : number of items to fetch per page
    remote       : data-remote

li.arrow class=('unavailable' if current_page.first?)
  == link_to '&laquo;'.html_safe, url, :rel => 'prev', :remote => remote

