.row
  .small-12.columns
    h4 Demo логин
.row
  - User.all.each do |user|
    .small-3.columns
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = f.hidden_field :email, value: user.email
        = f.hidden_field :password, value: '123'
        = f.submit user.email.reverse.chomp('antonpriadko+kayquote.'.reverse).reverse, class: "button expand"
hr

/ .devise-form
.row
  .small-12.columns
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      div
        = f.label :email, t('devise.email')
        br
        = f.email_field :email, autofocus: true

      div
        = f.label :password, t('devise.password')
        br
        = f.password_field :password, autocomplete: "off"

      div
        = f.submit t("devise.sign_in"), class: "button expand"
    = render "devise/shared/links"
