h2
  | Уважаемый(ая),&nbsp;
  = @task.client.name
p Спасибо за то, что воспользовались услугами нашего бюро переводов!

p
  | Спешим сообщить, что ваш заказ №&nbsp;
  = @task.id
  | &nbsp;готов. В ближайшее время наши сотрудники свяжутся с вами для уточнения деталей оплаты и передачи материалов.

p
  b
    | Напоминаем, что к оплате за заказ&nbsp;
    = number_to_currency(@task.price)

p Это автоматическое письмо, и оно не требует ответа.
