p
  | Выполненый вами заказ №
  = @task.id
  | &nbsp;не прошел проверку, пожалуйста исправте его и отправте на проверку снова
p
  | Для просмотра деталей пройдите по&nbsp;
  = link_to 'ссылке', edit_task_url(@task)
