
.row
  .small-12.columns

    = form_for(@worker, html: {'data-abide'=> true})do |f|
      .row
        .small-8.columns
          .field
            = f.label :name do
              = t '.name'
              = f.text_field :name, required: true, disabled: !current_user.profreader?
            small.error = t '.need_name'
        .small-4.columns
          .field
            = f.label :price do
              = t '.price'
              .row.collapse
                .small-3.columns
                  span.prefix = "#{t 'number.currency.format.unit'} / час"
                .small-9.columns
                  = f.text_field :price, required: true, pattern: 'currency', disabled: !current_user.profreader?
              small.error = t '.not_valid_currency'
      - if current_user.profreader?
        .row
          .small-9.columns
            .actions
              = f.submit t('.save'), class: 'button expand'
          .small-3.columns
              = link_to t('cancel'), :back, class: 'button expand'

