.row
  .small-12.columns
    h2 = t '.worker_properties'

.row
  .small-12.columns
    table#skill-list-table
      thead
        tr
          th = t '.language'
          th = t '.quality'
          th = t '.speed'
          th
      tbody
        - @skills.each do |skill|
          tr
            = render 'skill_form', skill: skill
            td
              - if current_user.profreader?
                = link_to skill, data: {:confirm => t('are_you_sure')}, :method => :delete do
                  i.fi-x
        - if current_user.profreader?
          tr
            = render 'skill_form', skill: @skill

- if current_user.profreader?
  coffee:
    do setupSkillForms
