- if skill.new_record?
  td.no-form data-skill-id="new" colspan=4
    a.button.expand = t '.add_skill'
- else
  td.no-form data-skill-id="#{skill.id}" = skill.language.try(:name)
  td.no-form data-skill-id="#{skill.id}" = skill.quality
  td.no-form data-skill-id="#{skill.id}" = skill.speed

- languages_array = Language.all.map { |language| [language.name, language.id] }

td.form.hide data-skill-id=(skill.id || 'new') colspan=(skill.new_record? ? 4 : 3)
  = form_for(skill, html: {'data-abide'=> true}) do |f|
    fieldset
      = f.hidden_field :worker_id, value: @worker.id
      .row
        .small-4.columns
          .field
            = f.label :language do
              = t '.language'
              = f.select :language_id, languages_array, {} ,
                         'data-abide-validator' => :uniqueThrough,
                         'data-unique-through' => '.language-selector',
                         class: 'language-selector', disabled: !current_user.profreader?
            small.error = t '.cant_dublicate_lang'
        .small-4.columns
          .field
            = f.label :quality do
              = t '.quality'
              = f.number_field :quality, required: true, pattern: 'mark10', disabled: !current_user.profreader?

            small.error = t '.not_valid_quality'
        .small-4.columns
          .field
            = f.label :speed do
              = t '.speed'
              = f.number_field :speed, required: true, pattern: 'integer', disabled: !current_user.profreader?
            small.error = t '.not_valid_speed'
      - if current_user.profreader?
        .row
          .small-12.columns
            .actions
              = f.submit t('save'), class: 'button expand'
