.row
  .small-12.columns
    h1 = t '.edit_worker'

== render 'form'

== render 'lang_list'

- if current_user.project_manager?
  .row
    .small-12.columns
      h1 Подходящие заказы
      - if @tasks.count > 0
        table
          tbody
            thead
              tr
                th = t 'tasks.index.id'
                th = t 'tasks.index.description'
                th = t 'tasks.index.from_lang'
                th = t 'tasks.index.to_lang'
                th = t 'tasks.index.deadline'
                th = t 'tasks.index.price'
                th = t 'tasks.index.quality'
                th = t 'tasks.index.size'
          tbody
            - @tasks.each do |task|
              tr class=('current' if task.worker_id == @worker.id)
                td
                  - if task.worker_id == @worker.id
                    = task.id
                    | &nbsp;
                    = link_to set_worker_task_path(task, worker_id: nil), method: :post
                      i.fi-x
                  - else
                    = link_to task.id, set_worker_task_path(task, worker_id: @worker.id), method: :post
                td = task.description
                td = task.from_lang.name
                td = task.to_lang.name
                td = l task.deadline
                td = number_to_currency task.price
                td = task.quality
                td = task.size
      - else
        p Нет подходящих заказов

