.row
  .small-6.columns
    h1 = t '.list_all_workers'
  .small-6.columns
    .search-row
      = form_tag(workers_path, method: :get) do
        .row.collapse
          .small-10.columns
            = text_field_tag :q, params[:q], placeholder: t('.search')
          .small-2.columns
            input type='submit' class="button postfix" value=t('search')

.row
  .small-12.columns
    - if @workers.count > 0
      table
        tbody
          thead
            tr
              th = t '.name'
              th = t '.price'
              th = t '.langs'
              th Текущие заказы
              th
        tbody
          - @workers.each do |worker|
            tr class=('current' if @highlighted_worker_id == worker.id)
              td = worker.name
              td = "#{number_to_currency worker.price}#{t '.per_hour'}"
              td = worker.skills.map {|skill| skill.language.name }.join(', ')
              td == worker.tasks.where(status: [:assigned, :working, :finished, :rejected]).map {|x| link_to x.id, edit_task_path(x) }.join(', ')
              td = link_to edit_worker_path(worker) do
                i.fi-pencil
      = paginate @workers
    - else
      - if @searching
        p = t '.nothing_found'
      - else
        p = t '.add_new_workers'

/ .row
/   .small-12.columns
/     = link_to t('.new'), new_worker_path, class: 'button expand'
