@import "foundation/components/buttons"

.ui-corner-all
  border-radius: 0
  border-width: 0
.ui-datepicker
  padding:
    top: 10px
    bottom: 10px
    left: 0
    right: 0
.ui-widget-header
  background-color: transparent
  background-image: none

.ui-datepicker-next.ui-state-hover,
.ui-datepicker-prev.ui-state-hover
  background-color: transparent
  background-image: none
  border-width: 0
  top: 2px

.ui-datepicker-prev.ui-state-hover
  left: 2px
.ui-datepicker-next.ui-state-hover
  right: 2px

.ui-state-default,
.ui-widget-content .ui-state-default
  @include button(0.4rem)
  background-image: none
  background-color: transparent
  color: black

.ui-state-highlight.ui-state-default
  @include button(0.4rem)
  border: 1px solid #ccc

.ui-state-hover.ui-state-default
  background-color: #CCC
