// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

.document-block
  height: 50px
  white-space: nowrap
  overflow-x: hidden
  overflow-y: hidden
  text-overflow: ellipsis
  margin-bottom: 5px

  a.title
    line-height: 50px
    overflow-x: hidden
    text-overflow: ellipsis

.document-action-button
  width: 25px
  height: 50px
  padding-top: auto
  padding-bottom: auto
  padding-top: 12px
