// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

.green-text
  color: #693

.red-text
  color: #c33

.cross-text
  text-decoration: line-through

// tr.worker-row:nth-of-type(even),
// tr.worker-row:nth-of-type(odd)
//   background-color: #ddd

tr.task-choosen:nth-of-type(even),
tr.task-choosen:nth-of-type(odd)
  background-color: #9C3
  .green-text
    color: black


tr.task-locked:nth-of-type(even),
tr.task-locked:nth-of-type(odd)
  background-color: #FACC2E
  .green-text
    color: black


.search-row
  padding: 0px

.search-row .row.collapse
  margin-bottom: 15px
  input, .prefix, .postfix
    height: 51px
    width: 100%
    padding: 5px
    padding-top: 16px
    padding-bottom: 16px

.worker-row
  cursor: pointer
  &:hover
    background-color: #ddd
