// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

.search-row
  margin-top: 1.2rem
  .columns
    input, a
      margin-bottom: 0

table
  width: 100%
  tr.current
    background-color: #ccc


.button.prefix.active
  background-color: rgb(0, 112, 149)


.buble-translator,
.buble-client-manager,
.buble-profreader
  width: 100%
  padding: 10px
  color: white

  .title
    display: block
    font-weight: bold
  .text
    display: block

.buble-translator
  background-color: #008CBA

.buble-client-manager
  background-color: #009966
  text-align: right

.buble-profreader
  background-color: #CC9933
  text-align: right

