.row
  .small-12.columns
    nav.top-bar data-topbar=true
      section.top-bar-section
        ul.left
          li = link_to t('kayquote_title'), root_path
          - if current_user.admin?
            li = link_to t('languages.title'), languages_path

          - if current_user.admin? || \
               current_user.profreader? || \
               current_user.project_manager?
            li = link_to t('workers.title'), workers_path

          - if current_user.admin? || \
               current_user.profreader? || \
               current_user.client_manager? || \
               current_user.project_manager?
            li = link_to t('tasks.title'), tasks_path

          - if current_user.admin? || \
               current_user.client_manager?
            li = link_to t('clients.title'), clients_path

          - if current_user.admin?
            li = link_to t('access_rights.title'), access_rights_path

          - if current_user.project_manager?
            li = link_to t('home.project_manager_panel.match_tasks'), match_path
        ul.right
          li = link_to destroy_user_session_path, method: :delete do
            = "#{ t('logout') } (#{current_user.email})"
