doctype html
html
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    title = content_for?(:title) ? yield(:title) : "kayquote - Система управления бюро переводов"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
    = javascript_include_tag "application"
  body
    - if user_signed_in?
      = render 'layouts/navbar'
    = yield
